<!DOCTYPE html>
<html lang="en">
<head>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>

<div class="container text-center">
{% block content %}
{% endblock %}
</div>

<div class="container text-center">
    <footer>
        <br><br><br>
        <h2 style="bottom: 0;">All links:</h2>
        <p><a href="{% url 'home' %}" class="btn btn-success">Home</a></p>
        <p><a href="{% url 'generator' %}" class="btn btn-warning">Generator</a></p>
        <p><a href="{% url 'about' %}" class="btn btn-">About Creator</a></p>
</footer>
</div>

</body>
</html>